extends layout.pug
block htmlhead
  script(src="https://cdn.plot.ly/plotly-latest.min.js")
  script(src=`${basepath}/static/encits.js`)
  link(rel="stylesheet" href=`${basepath}/static/encits.css`)

block content
  .home-link
    a(href=basepath)= '<< back'
  .container-fluid
    .row
      .col-9
        #cell-graph.vh-100
      .col-3
        .container-fluid
          .row
            .form-group.offset-1.col-5.my-0.px-0
              label.small.m-0= 'Iteration:'
            .form-group.col-6.my-0.px-0
              label.small.m-0= 'Value threshold:'
          #control.row
            .form-group.offset-1.col-3.p-0
              select#iterations.form-control.form-control-sm
                option= 'load...'
            .form-group.offset-2.col-3.p-0
              input#threshold.form-control.form-control-sm.text-center(type="number" pattern="[0-9]*" value="10")
            .form-group.offset-2.col-1.p-0
              #loader
        table.table.table-sm
          thead
            tr
              td.ensembl.w-50(scope="row")= 'Ensembl'
              td.mgi= 'MGI'
              td.gval.text-right= 'value'
            tr#single-cell-row.text-center
              th#single-cell-id(scope="col" colspan="3")= 'click point in plot'
            tr#duplicate-cells-row.text-center.d-none
              td(scope="col" colspan="3")
                select#duplicate-cell-ids
          tbody#cell-genes
        .d-none
          table
            tr(onclick="updateGeneFocus(this)").gene-template
              td.ensembl.w-50(scope="row")
              td.mgi
              td.gval.text-right