extends layout.pug
block content
  .container.w-50
    if params.error === 'enc'
      .alert.alert-secondary(role="alert")= `Invalid run "${params.eid}"`
    if params.error === 'it'
      .alert.alert-secondary(role="alert")= `Invalid iteration #${params.it} for "${params.eid}"`
    h4.my-4.text-center= 'Select encoding run'
    table.table.text-center
      thead
        tr
          th.col-3(scope="col")= 'run'
          th.col-3(scope="col")= 'date'
          th(scope="col")= 'sources'
      tbody.small
        each enc in encodings
          tr
            td.align-middle(scope="row")
              a(href=`${basepath}/${enc._id}/${enc.defit}`)= enc._id
            td.align-middle= moment.utc(enc.date).format('YYYY-MM-DD HH:mm')
            td.align-middle= enc.srcs.matrix
              br
              | #{enc.srcs.barcodes}
              br
              | #{enc.srcs.genes}
